extend layout

script(src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.3.0/phaser.js")       
script(src="/js/game/view/boardView.js")
script(src="/js/game/controls/player.js")        
script(src="/js/bootstrap.js")
