doctype
html
    head
        title Dragon Sword Online
        link(href="/css/style.css" type="text/css" rel="stylesheet")
        block scripts
    body
        div(class="barraSup")
            div(class="left")
                a(href="/", class="barraSupText") Main Menu
            div(class="right")
                if user != null
                    p.barraSupText Hola #{user}
                    a(href="/LogOut", class="barraSupText") Desconnecta't
                else
                    a(href="/LogIn", class="barraSupText") Login
                    a(href="/SignUp", class="barraSupText") Sign Up
        div(class="barraInf")
            block inferior